/* About.css Tajinder Nijjar, 301059291, Sept 22nd 2024 */
.about{
    text-align:center;
    width: 100vw;
    max-width: 75rem;
    overflow:hidden;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 300;
}

.resumeBtn{
    border: none;
    border-radius: 2rem;
    background-color: red;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
}

